# dependencies
/node_modules
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.next-dev
.next-prod

# production
/build
apps/radar-api/dist/
apps/radar-api/

# misc
.DS_Store
Thumbs.db
*.pem
*.code-workspace
*.swp
*.swo

# editor / local tooling
.vscode/
.idea/
.mcp.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Auth0 credentials
.env.local
